.important{
    color: red;
    background-color: black;
}
.unimportant{
    color: blue;
    background-color: aqua;
}
.span-unimportant{
    background-color: black;}
   image{
       float: right;
   }
   .box-model{
       border: 2px solid red;
        padding: 10px;
        padding-left: 10px;
        padding-top: 10px;
        margin: 20px;
     }